<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Hugo Ayón">
  <title>Entes</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <main class="col-md-10 offset-md-1 pt-3">
        <br>
        <h2>Entes</h2>

        <%- include('../alertas'); %>

        <div class="row col-sm-2 offset-sm-10">
          <a class="btn btn-outline-primary" href="/entes/create">Nuevo ente</a>
        </div>
        <br>

        <% if (entes.length > 0) { %>
          <div class="table-responsive">
            <table id="idTablaEntes" class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Siglas</th>
                  <th>Nombre</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% entes.forEach(function(ente) { %>
                  <tr>
                    <td><%= ente._id %></td>
                    <td><%= ente.siglas %></td>
                    <td><%= ente.descripcion %></td>
                    <td style="min-width: 200px;">
                      <div class="row col-sm-12">
                        <button class="btn btn-outline-success col-sm-6 my-2 my-sm-0" onclick="window.location.href='/entes/<%= ente._id %>/edit'">Editar</button>
                        <button class="btn btn-outline-danger col-sm-6 my-2 my-sm-0" onclick="window.location.href='/entes/<%= ente._id %>/delete'">Eliminar</button>
                      </div>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        <% } else { %>
          <h4>No hay entes registrados.</h4>
        <% } %>
      </main>
    </div>
  </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="/js/entes/entes.js"></script>
</body>
</html>